footer{
  display: block;
  position: fixed;
  bottom: 0;
}

#btnVoltar {

  margin-left: 10px;
  background: #26333d;
  color:#fff;
  padding: 10px;
  width: 80px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.perfil-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.background-perfil {
 background-color: #26333d;
 display: flex;
 flex-direction: column;
 padding: 20px;
 border-radius: 10px;
 width: 60%;
}
input{
  width: 60%;
  padding: 8px;
  border-radius: 10px;
}
input:focus {
  outline: none;
  box-shadow: 0 0 15px var(--cor-primaria);
  border: 1px solid var(--cor-primaria);
}
h3{
 color: #fff;
}
h2{
color: #fff;
display: flex;
justify-content: center;
}
#editarPerfilBtn {
  background: #fff;
  color:#26333d;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#editarPerfilBtn:hover {
  background: #1b5c8d;
  color: #fff;
}
#sairPerfilBtn {
  background: #fff;
  color:#26333d;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#sairPerfilBtn:hover {
  background: red;
  color: #fff;
}
.perfil-img-area {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#fotoPerfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;

  display: block;
  margin: 0 auto;
}

.background-perfil{
  display: flex;
  flex-direction: column;
  align-items: center; /* <-- isso centraliza TUDO horizontalmente */
}