html,body{
 font-family: Montserrat, sans-serif;
    margin:0;
    padding: 0;
 
    background-color: #e9f0ef;
}
footer{
    position: fixed;
    bottom: 0;
    
}
.card-link {
  text-decoration: none;
  color:inherit
}
.grid-livros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 18px;
  padding: 20px;
  text-decoration: none;
}
.livro-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.livro-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  width: 100%;
  max-width: 290px;
}
.livro-card p,.livro-card h3 {
  font-size: 14px;
  color: #26333d;
  margin: 8px 0 4px 0;
}
.livro-card img {
  width: 210px;
  height: 300px;
  border-radius: 10px;
}
p {
  padding-left: 20px;
  font-size: 20px;
}