html,body{
    font-family: Montserrat, sans-serif;
}
#containerCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
form#formCadastro {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-direction: column;
    gap: 12px;
}
input,select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

#btns {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    font-size: 25px;
    color: #26333d;
}