html,body{
    font-family: Montserrat, sans-serif;
}
#containerCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
footer{
    position: fixed;
    bottom: 0;
}
form#formCadastro {
    display: flex;   
    flex-direction: column;
    gap: 12px;
}
input,select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}
button#btnCadastrar {
    padding: 10px 20px;
    background-color: #26333d;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button#btnCadastrar:hover {
    background-color: #3a4a54;
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0,0,0,0.35);
}

#btns {
    display: flex;
    justify-content: center;
    padding: 20px;
}
h3 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 25px;
    color: #26333d;
}